# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# environment and secrets
.env
.env*.local
credentials.json
*.json
!package.json
!package-lock.json
!jsconfig.json
!tsconfig.json
certificates_output/

# python
__pycache__/
*.pyc
*.pyo

# debug and logs
npm-debug.log*
yarn-debug.log*
.vercel
.DS_Store