python-dotenv>=1.0.1
nbformat>=5.10.0
gspread==5.12.0
google-auth==2.29.0
google-api-python-client==2.123.0
nbformat==5.10.4
fastapi>=0.95.0  # Added FastAPI dependency
twilio
streamlit
python-docx
reportlab
schedule>=1.2.0
html2image
PyMuPDF